<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is the current ozone air quality readout for my neughborhood in Athens.</p>
  <hr class="my-4">
  <p>'Reload' in your web browser to update reading ...</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>
